circle, .Y
{
    fill: yellow;
}
circle, .white
{
    fill: white;
}
circle, .R
{
    fill: red;
}
rect, .gameOverBox
{
    fill: white;
    stroke: black;
}
text, .gameOverBoxText
{
    font-family: sans-serif;
    font-size: 18px;
    fill: black;
    text-anchor: middle;
}
svg, .fillScreen
{
    height: 70%;
    width: 80%;
    display: block;
    position: absolute;
    margin-left:10%;
    margin-right:auto;

}
rect, .gameBoard
{
    fill: teal;
    position: absolute;
}
button, .btnRestart
{
    fill: green;
    position: absolute;
    top: 70%;
    margin-left: 47%;
    width: 75px;
    height: 30px;
}